<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Dashboard</title></head>
<body>
<h1>Dashboard</h1>

<div>
    <h2>Total request</h2>
    <p th:text="${totalRequests}"></p>
</div>

<div>
    <h2>Min response time</h2>
    <p th:text="${minRequest.getResponseTime()}"></p>
</div>

<div>
    <h2>Max response time</h2>
    <p th:text="${maxRequest.getResponseTime()}"></p>
</div>

<div>
    <h2>Average response time</h2>
    <p th:text="${averageResponseTime}"></p>
</div>

<div>
    <h2>Total request OK</h2>
    <p th:text="${totalOkRequests}"></p>
</div>

<div>
    <h2>Total request 4xx</h2>
    <p th:text="${total4xxRequests}"></p>
</div>

<div>
    <h2>Total request 5xx</h2>
    <p th:text="${total5xxRequests}"></p>
</div>


<div>
    <p><a href="search">Search again</a></p>
</div>

</body>
</html>