<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Search Result</title></head>
<body>
<h1>Result</h1>

<div>
    <h2>Origin</h2>
    <p th:text="${result.origin.getName()}"></p>
    <p th:text="${result.origin.getDescription()}"></p>
</div>

<div>
    <h2>Destination</h2>
    <p th:text="${result.destination.getName()}"></p>
    <p th:text="${result.destination.getDescription()}"></p>
</div>

<div>
    <h2>Price</h2>
    <span th:text="${result.fare.getCurrency()}"></span> <span th:text="${result.fare.getAmount()}"></span>
</div>

<div>
    <p><a href="search">Search again</a></p>
</div>

</body>
</html>