<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Page</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
<h1>KLM Code assigment</h1>

<div th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<form action="#" th:action="@{checkFare}" th:object="${search}" method="post">
    <div class="ui-widget">
        <label for="origin">Origin:</label>
        <input id="origin" size="100" name="origin" th:field="*{origin}" placeholder="Type at least 3 characters..."
               autocomplete="off"/>
    </div>
    <div class="ui-widget">
        <label for="destination">Destination:</label>
        <input id="destination" size="100" name="destination" th:field="*{destination}"
               placeholder="Type at least 3 characters..." autocomplete="off"/>
    </div>
    <p><input type="submit" value="Submit"/></p>
</form>

<div>
    <p><a href="dashboard">Go to Dashboard</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#origin").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "ajaxSearch",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.description,
                                value: item.code
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                document.getElementById('origin').value = ui.item.value;
            }
        });
        $("#destination").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "ajaxSearch",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.description,
                                value: item.code
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                document.getElementById('destination').value = ui.item.value;
            }
        });
    });
</script>

</body>
</html>